body {
	background: url("https://www.photoshopgurus.com/forum/attachments/photoshop-newbies/46330d1402827697t-how-make-subtle-background-jpg");
	<!--background-color: #FDE5C6;-->
	background-color: #CCCCCD;
	color: #051F8D;
	font-family: 'Righteous', cursive;
	text-align: center;
}
h1 {
	color: #FF0000;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-style: italic;
}

h2 {
	color: #FF0000;
	font-weight: normal;
	font-style: italic;

}

#slogan {
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}


.goleft {
	text-align: left;
	font-size: 12px;
}

article {
	text-align: left;
}